<!DOCTYPE html>
<html ng-app="plunker">

  <head>
    <link rel="stylesheet" href="style.css">
    <script src="build/angular.js"></script>
    <script src="app.js"></script>
  </head>

  <body ng-controller="MainCtrl">
    
    <h1>AngularJS promise counter demo</h1>
    Click below to add a promise resolving promise. 
    <p>
      <label>
        Add a promise: 
        <input type="number" ng-model="timeAmount" />
      </label>
    </p>
    <p>
      <button ng-click="addResolvPromise()">Add resolv (next one will hang = {{!willResolve}})</button><br>
      To add a bunch of promises that will eventually resolve or hang (toggle)
    </p>
    
    <p>
      <button ng-click="addRejectPromise()">Add reject (next one will hang = {{!willResolve}})</button><br>
      To add a bunch of promises that will eventually be rejected or hang (toggle)
    </p>
    
    <p>Angular PromiseCount from window.promises.angular.pendingCount: <h2>{{promisesCounter}}</h2></p>
    
    <ul>
      <li ng-repeat="p in pendingPromises">Pending promise id = {{p[0]}}. Will eventually resolve? {{p[1]}}</li>
    </ul>
  </body>

</html>